
body {
	margin: 0px;
	padding: 0px;
}

#appcr {
	width: 320px;
	height: auto;
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	background-color:black;
}

#appcr form {
	height: 100%;
	width: auto ;
	font-family: 'Roboto', sans-serif ;
	color: white;
}

input[type='button'], input[type='reset'] {
	margin: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 70px;
	height: 75px;
	border-radius: 100%;
	font-family: 'BIZ UDPGothic', sans-serif ;
	font-size: 30px;
	border: rgba(70, 70, 70, 0.97) ;
}

.largoa1 {
	width: 98%;
	color: white;
	background-color: rgba(70, 70, 70, 0.97);
	text-align: right;
	font-family: 'Roboto', sans-serif ;
	font-size: 50px;
	border: 1px solid white;
	border-radius: 5px;
	margin-bottom: 8px;
}

.grey {
	background-color: rgba(70, 70, 70, 0.49);
	color: white;
}

.orange {
	background-color: rgba(255, 182, 46, 1);
	color: white;
}

.white {
	background-color: white;
	color: black;
}

.banner {
	width: 100%;
	height: 150px;
	background-color: #111;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner h1 {
	font-family: fantasy;
	font-size: 90 px;
	letter-spacing: 12px;
	color: black;
	position: relative;
	-webkit-text-stroke: 0.3vw #1E1E1E ;
	text-transform: uppercase;
}

.banner h1::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	color: #EF990F;
	-webkit-text-stroke: 0vw #1E1E1E ;
	border-right: 2px solid #EF990F ;
	overflow: hidden ;
	animation: animate 5s linear infinite ;
}

@keyframes animate {
	0%,10%,100%{
		width: 0%;
	}

	70%,90% {
		width: 100%;
	}

}
}























